{% extends './base.html.twig' %}

{% block content %}
<!-- Page Content -->
<div class="page_content_wrap page_paddings_no">
    <!-- Content -->
    <div class="content">
    <!-- Page Content -->
        <section class="slider_wrap slider_fullwide slider_engine_revo slider_alias_home-3">
            <div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery">
                <!-- START REVOLUTION SLIDER 5.4.3 auto mode -->
                <div id="rev_slider_3_1" class="rev_slider fullwidthabanner" data-version="5.4.3">
                    <ul>
                        <!-- SLIDE 3 -->
                        <li data-index="rs-9" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="js/vendor/revslider/images/transparent.png" data-bgcolor='#000000' alt="" title="Home 3" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 11 -->
                            <div class="tp-caption tp-resizeme" id="slide-9-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":300,"ease":"Linear.easeNone"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                                <img src="assets/images/slider/001.jpg" alt="" data-ww="auto" data-hh="auto" width="1920" height="580" data-no-retina>
                            </div>
                            <!-- LAYER NR. 12 -->
                            <div class="tp-caption black tp-resizeme" id="slide-9-layer-2" data-x="30" data-y="85" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":750,"to":"o:1;","delay":600,"split":"chars","splitdelay":0.1,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">Dig into our </div>
                            <!-- LAYER NR. 13 -->
                            <div class="tp-caption black tp-resizeme" id="slide-9-layer-7" data-x="30" data-y="149" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":750,"to":"o:1;","delay":1300,"split":"chars","splitdelay":0.1,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">fine inventory </div>
                            <!-- LAYER NR. 14 -->
                            <div class="tp-caption black tp-resizeme" id="slide-9-layer-3" data-x="30" data-y="245" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','off','off']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":2700,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">Stop in today to browse our excellent selection of
                                <br> firearms, ammo, archery supplies and fishing tackle. </div>
                            <!-- LAYER NR. 15 -->
                            <div class="tp-caption black tp-resizeme" id="slide-9-layer-6" data-x="31" data-y="51" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','off','off']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1900,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">Premium sourse of excellent guns </div>
                            <!-- LAYER NR. 16 -->
                            <div class="tp-caption black tp-resizeme" id="slide-9-layer-5" data-x="30" data-y="330" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','off','off']" data-type="text" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"#","delay":""}]' data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":3450,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(104,157,5,1);bw:2px 2px 2px 2px;"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[28,28,28,28]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[28,28,28,28]">Learn More </div>
                        </li>
                        <!-- SLIDE 1 -->
                        <li data-index="rs-6" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://placehold.it/100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="assets/images/slider/002.jpg" alt="" title="33" width="1920" height="450" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption black tp-resizeme" id="slide-6-layer-2" data-x="center" data-hoffset="" data-y="135" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":600,"split":"chars","split_direction":"forward","splitdelay":0.1,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">get $25 off </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption black tp-resizeme" id="slide-6-layer-3" data-x="center" data-hoffset="" data-y="218" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','on','off']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":2700,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">when you spend next time
                                <br> $500 on Handguns </div>
                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption black tp-resizeme" id="slide-6-layer-4" data-x="center" data-hoffset="" data-y="98" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','on','off']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1900,"speed":1000,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">special offer </div>
                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption black tp-resizeme" id="slide-6-layer-5" data-x="center" data-hoffset="" data-y="289" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','off','off']" data-type="text" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"shop.html","delay":""}]' data-responsive_offset="on" data-frames='[{"delay":3490,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"+4500","speed":300,"frame":"999","to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1);bg:rgba(188, 188, 188, 1);bc:rgba(188, 188, 188, 1);color:#000;"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[28,28,28,28]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[28,28,28,28]">shop now </div>
                        </li>
                        <!-- SLIDE 2 -->
                        <li data-index="rs-8" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="js/vendor/revslider/images/transparent.png" data-bgcolor='#000000' alt="" title="Home 3" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption tp-resizeme" id="slide-8-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":300,"ease":"Linear.easeNone"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                                <img src="assets/images/slider/003.jpg" alt="" data-ww="auto" data-hh="auto" width="1920" height="654" data-no-retina>
                            </div>
                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption black tp-resizeme" id="slide-8-layer-2" data-x="30" data-y="84" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":750,"to":"o:1;","delay":600,"split":"chars","splitdelay":0.1,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">consectetur </div>
                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption black tp-resizeme" id="slide-8-layer-7" data-x="30" data-y="150" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":750,"to":"o:1;","delay":1250,"split":"chars","splitdelay":0.1,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                                adipisicing elit </div>
                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption black tp-resizeme" id="slide-8-layer-3" data-x="31" data-y="244" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','off','off']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":2700,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">Stop in today to browse our excellent selection of
                                <br> firearms, ammo, archery supplies and fishing tackle. </div>
                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption black tp-resizeme" id="slide-8-layer-6" data-x="30" data-y="50" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','on','off']" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1900,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">Lorem ipsum dolor sit amet </div>
                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption black tp-resizeme" id="slide-8-layer-5" data-x="30" data-y="330" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','off','off']" data-type="text" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"#","delay":""}]' data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":3500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255,255,255,1);bg:rgba(104,157,5,1);bw:2px 2px 2px 2px;"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[28,28,28,28]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[28,28,28,28]">Learn More </div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom"></div>
                </div>
            </div>
            <!-- END REVOLUTION SLIDER -->
        </section>
        <article class="post_item post_item_single">
            <section class="post_content">
               
                <!-- Featured Products -->
                <div class="bg_white_style">
                    <div class="content_wrap">
                        <div class="empty_space height_5_5em"></div>
                        <div class="sc_section scheme_light">
                            <div class="sc_section_inner">
                                <h2 class="sc_section_title sc_item_title">featured
                                    <span class="thin"> products</span>
                                </h2>
                                <div class="sc_section_descr sc_item_descr no-margin-bottom">
                                    Lorem ipsum dolor sit amet consectetur
                                    <p class="no-margin-bottom"> adipisicing elit sed do eiusmod</p>
                                </div>
                            </div>
                        </div>
                        <div class="empty_space height_5_5em"></div>
                    </div>
                </div>
                <!-- /Featured Products -->
                <!-- Guns & Ammo -->
                <div class="custom_texture_bg3 ">
                    <div class="content_wrap">
                        <div class="empty_space height_3em"></div>
                        <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2 responsive_columns">
                            <div class="column-1_2 sc_column_item sc_column_item_1 odd first"></div><div class="column-1_2 sc_column_item sc_column_item_2 even textalign_center">
                                <div class="empty_space height_4em"></div>
                                <h2 class="sc_title sc_title_regular sc_align_center textalign_center accent2">
                                    How<span class="thin"> to start</span>
                                </h2>
                                <div class="sc_item_descr accent1">
                                    <p class="margin_bottom_null textalign_center">Nothing ever was this easy! Download</p>
                                    <p> application and go to the shooting range</p>
                                </div>
                                <div class="guns_ammo_info">
                                    <p class="margin_bottom_null textalign_center">Lorem ipsum dolor sit amet, consectetur adipisicing elido eiusmod</p>
                                    <p> tempor incididunt ut labore et dolore magna aliqua</p>

                                </div>
                                <a href="#" class="sc_button sc_button_square sc_button_style_border sc_button_size_large aligncenter">Learn More</a>
                                <div class="empty_space height_5_3em"></div>
                            </div>
                        </div>
                    </div>
                    <div class="empty_space height_3em"></div>
                </div>
                <!-- /Guns & Ammo -->
            </section>
        </article>
    </div>
    <!-- /Content -->
</div>
<!-- /Page Content -->
{% endblock %}